.black {
    background-color: black;
    color: white;
}
.dark {
    background-color: #333333;
}
.white {
    background-color: white;
}
.light {
    background-color: #eeeeee;
}
.blue {
    background-color: blue;
}